<header id="header" #header class="header dark-background d-flex flex-column" [class.header-show]="headerShown">
  <i #headerToggleBtn class="header-toggle d-xl-none bi" [ngClass]="toggleIconClass" (click)="toggleHeader()"></i>

  <div class="profile-img">
    <img src="assets/img/IvanCickaProfile.png" alt="" class="img-fluid rounded-circle" height="600" width="600">
  </div>

  <a href="index.html" class="logo d-flex align-items-center justify-content-center">
    <h1 class="sitename">Ivan Cicka</h1>
  </a>

  <div class="social-links text-center">
    <a href="https://www.linkedin.com/in/ivan-cicka" class="linkedin" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-linkedin"></i>
    </a>
  </div>


  <nav id="navmenu" class="navmenu">
    <ul>
      <li><a href="#hero" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
      <li><a href="#about"><i class="bi bi-person navicon"></i> About</a></li>
      <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i> Resume</a></li>
      <li><a href="#portfolio"><i class="bi bi-images navicon"></i> Portfolio</a></li>
      <li><a href="#contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
    </ul>
  </nav>
</header>
