<section id="hero" class="hero section dark-background">

  <img src="assets/img/IvanCicka.png" alt="Hero background" data-aos="fade-in" class="hero-img" height="1280"
       width="1920">

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <h2>Ivan Cicka</h2>
    <p>I am a <span #typedElement class="typed" data-typed-items="Professor, Software Developer, Spring Boot Developer, Angular Developer, System Designer, Tech Enthusiast, Problem Solver">Software Developer</span></p>

  </div>

</section>
